In [142]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib as mpl 
import seaborn as sns 

pd_misconduct = pd.read_csv('final.csv',parse_dates=[1])
census = pd.read_csv('population_data.csv')

In [143]:
pd_misconduct.dtypes

calendar_year     float64
city               object
state              object
closed_date        object
amount_awarded    float64
dtype: object

In [144]:
pd_misconduct = pd_misconduct.astype({'amount_awarded':'int'})

In [145]:
pd_misconduct['closed_date'] = pd.to_datetime(pd_misconduct['closed_date'])

In [146]:
pd_misconduct

       calendar_year              city state closed_date  amount_awarded
0             2019.0           Chicago    IL  2019-01-29          160000
1             2018.0           Chicago    IL  2018-10-02          100000
2             2019.0           Chicago    IL  2019-05-30           70000
3             2010.0           Chicago    IL  2010-09-24           60000
4             2010.0           Chicago    IL  2010-03-18           99000
...              ...               ...   ...         ...             ...
39011         2019.0  North Charleston    SC  2019-12-15           40000
39012         2019.0  North Charleston    SC  2019-11-05           70000
39013         2019.0  North Charleston    SC  2019-11-05           70000
39014         2019.0  North Charleston    SC  2019-11-05          110000
39015         2019.0  North Charleston    SC  2019-10-07               0

[39016 rows x 5 columns]

In [147]:
pd_misconduct['closed_date'] = pd_misconduct['closed_date'].dt.strftime('%m/%d/%y')

In [148]:
pd_misconduct

       calendar_year              city state closed_date  amount_awarded
0             2019.0           Chicago    IL    01/29/19          160000
1             2018.0           Chicago    IL    10/02/18          100000
2             2019.0           Chicago    IL    05/30/19           70000
3             2010.0           Chicago    IL    09/24/10           60000
4             2010.0           Chicago    IL    03/18/10           99000
...              ...               ...   ...         ...             ...
39011         2019.0  North Charleston    SC    12/15/19           40000
39012         2019.0  North Charleston    SC    11/05/19           70000
39013         2019.0  North Charleston    SC    11/05/19           70000
39014         2019.0  North Charleston    SC    11/05/19          110000
39015         2019.0  North Charleston    SC    10/07/19               0

[39016 rows x 5 columns]

In [149]:
pd_misconduct['calendar_year'] = pd_misconduct['calendar_year'].astype('int64')

In [150]:
pd_misconduct

       calendar_year              city state closed_date  amount_awarded
0               2019           Chicago    IL    01/29/19          160000
1               2018           Chicago    IL    10/02/18          100000
2               2019           Chicago    IL    05/30/19           70000
3               2010           Chicago    IL    09/24/10           60000
4               2010           Chicago    IL    03/18/10           99000
...              ...               ...   ...         ...             ...
39011           2019  North Charleston    SC    12/15/19           40000
39012           2019  North Charleston    SC    11/05/19           70000
39013           2019  North Charleston    SC    11/05/19           70000
39014           2019  North Charleston    SC    11/05/19          110000
39015           2019  North Charleston    SC    10/07/19               0

[39016 rows x 5 columns]

In [151]:
sum_city = pd_misconduct.groupby(['city'], as_index=False)['amount_awarded'].sum().round()

In [152]:
sum_city = sum_city.sort_values(['amount_awarded'],ascending=False)

In [153]:
sum_city

                city  amount_awarded
17     New York City      1704120285
5            Chicago       467586425
12       Los Angeles       329925622
21      Philadelphia       116839465
27        Washington       114829407
9            Detroit        57702977
15         Milwaukee        40017821
25       Springfield        32846089
7          Cleveland        28573463
24     San Francisco        27873297
1          Baltimore        18432746
11      Indianapolis        13148274
3             Boston        11905481
13           Memphis         8772851
14             Miami         7284683
20          Paterson         5350399
0            Atlanta         4761181
18  North Charleston         3333750
26         St. Louis         3117846
16       New Orleans         2885642
2        Baton Rouge         2879789
6         Cincinnati         2472785
10   Fort Lauderdale         2371381
28         Waterbury         2227250
4         Charleston         1520250
8           Columbia         1030935
19           Orlando          734377
22          Richmond          201000
23           Roanoke          132500

In [106]:
import plotly.express as px

In [154]:
sum_city = px.data.iris()

In [155]:
fig = px.scatter(sum_city, x='sepal_length', y=sum_city.sepal_length, color=sum_city.species, size=sum_city.petal_length)

In [156]:
fig.show()

In [157]:
import plotly.graph_objects as go 
import dash
import dash_core_components as doc
import dash as html

In [158]:
app = dash.Dash()

app.layout = html.Div([dcc.Graph(figure=fig)])

AttributeError: module 'dash' has no attribute 'Div'

In [159]:
census.dtypes

id                  int64
Census              int64
Estimates Base      int64
2010                int64
2011              float64
2012              float64
2013              float64
2014              float64
2015              float64
2016              float64
2017              float64
2018              float64
2019              float64
city_name          object
dtype: object

In [160]:
census.astype({'2010':'int','2011':'int','2012':'int','2013':'int','2014':'int','2015':'int','2016':'int',
                      '2017':'int','2018':'int','2019':'int'})

,id,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,city_name
0,1,8175133,8175031,8190209,8272948,8346693,8396091,8433806,8463049,8469153,8437478,8390081,8336817,"New York City, New York"
1,2,3792621,3793139,3795512,3820876,3851202,3881622,3909901,3938568,3963226,3975788,3977596,3979576,"Los Angeles, California"
2,3,2695598,2695652,2697477,2708114,2719141,2725731,2727066,2724344,2716723,2711069,2701423,2693976,"Chicago, Illinois"
3,6,1526006,1526012,1528283,1540466,1551824,1558313,1565460,1571065,1576051,1580601,1583592,1584064,"Philadelphia, Pennsylvania"
4,16,805235,805184,805505,815650,828876,839572,850750,863010,871512,878040,880696,881549,"San Francisco, California"
5,17,820445,820457,821579,827664,835499,844696,850164,853714,859049,863478,870960,876384,"Indianapolis (balance), Indiana"
6,20,601723,601767,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749,"Washington, District of Columbia"
7,21,617594,617792,621048,630505,642955,653002,662855,670491,679848,687788,691147,692600,"Boston, Massachusetts"
8,24,713777,713898,711131,705118,700183,691868,682609,679410,677143,674631,672977,670031,"Detroit, Michigan"
9,28,646889,651873,652326,655341,658786,657146,654990,654106,652548,650878,651104,651073,"Memphis, Tennessee"
10,31,594833,594498,594865,597086,598569,599916,600664,600477,596996,593725,591375,590157,"Milwaukee, Wisconsin"
11,37,420003,427059,429410,437812,449016,453990,461154,468303,479174,491670,498183,506811,"Atlanta, Georgia"
12,50,343829,343828,347772,360735,369787,378637,383940,389742,391843,391493,391004,390144,"New Orleans, Louisiana"
13,53,396815,396665,395926,392667,391550,391792,390871,389244,387662,385252,383214,381009,"Cleveland, Ohio"
14,64,296943,297025,296980,296187,296900,297905,298626,299439,299748,301587,302277,303940,"Cincinnati, Ohio"
15,65,319294,319289,319336,319344,319416,318476,317399,316010,312633,308233,303419,300576,"St. Louis, Missouri"
16,71,238300,238836,239326,243620,249935,255135,262469,270786,278512,281804,285903,287442,"Orlando, Florida"
17,97,204214,204375,204302,206391,210794,213860,217044,220856,225369,227230,229221,230436,"Richmond, Virginia"
18,100,229493,229423,229374,228643,228889,228346,227851,227202,226686,224414,222190,220236,"Baton Rouge, Louisiana"
19,126,193524,193538,193972,195292,196564,197143,197595,198178,198631,198314,197484,197312,"Little Rock, Arkansas"
20,142,165521,165754,166126,169012,170909,172275,175153,177356,178837,179877,182101,182437,"Fort Lauderdale, Florida"
21,181,146199,146181,146391,145593,146111,146049,145911,145928,145773,146015,145594,145233,"Paterson, New Jersey"
22,200,120083,120364,120700,123012,125223,127246,129434,132413,134453,135626,136111,137566,"Charleston, South Carolina"
23,211,129272,130421,130774,131302,131761,131527,131781,133616,134129,134005,132770,131674,"Columbia, South Carolina"
24,238,105162,105148,105008,105884,107886,112036,112993,113471,115685,116869,118151,118927,"Cambridge, Massachusetts"
25,252,97471,97579,97949,99898,101994,104050,106754,108597,109738,110820,113077,115382,"North Charleston, South Carolina"
26,285,110366,110309,110350,110074,110019,109733,109524,108993,108453,108277,108123,107568,"Waterbury, Connecticut"
27,167,153060,153132,153569,153773,153933,154056,154376,154582,154028,154207,154329,153606,"Springfield, Massachusetts"
28,321,97032,96910,96720,96782,98011,98849,99427,99669,99337,98986,99009,99143,"Roanoke, Virginia"
29,42,399457,399481,400779,406593,411149,415661,425110,434738,449149,456617,462819,467963,"Miami, Florida"

In [162]:
census.drop(columns = 'id', inplace=True)
census.drop(columns = 'Census', inplace=True)

In [164]:
pop_data = census.groupby(['city_name'], as_index=False)[['Estimates Base']].sum()

In [165]:
pop_data

                           city_name  Estimates Base
0                   Atlanta, Georgia          427059
1             Baton Rouge, Louisiana          229423
2              Boston, Massachusetts          617792
3           Cambridge, Massachusetts          105148
4         Charleston, South Carolina          120364
5                  Chicago, Illinois         2695652
6                   Cincinnati, Ohio          297025
7                    Cleveland, Ohio          396665
8           Columbia, South Carolina          130421
9                  Detroit, Michigan          713898
10          Fort Lauderdale, Florida          165754
11   Indianapolis (balance), Indiana          820457
12             Little Rock, Arkansas          193538
13           Los Angeles, California         3793139
14                Memphis, Tennessee          651873
15                    Miami, Florida          399481
16              Milwaukee, Wisconsin          594498
17            New Orleans, Louisiana          343828
18           New York City, New York         8175031
19  North Charleston, South Carolina           97579
20                  Orlando, Florida          238836
21              Paterson, New Jersey          146181
22        Philadelphia, Pennsylvania         1526012
23                Richmond, Virginia          204375
24                 Roanoke, Virginia           96910
25         San Francisco, California          805184
26        Springfield, Massachusetts          153132
27               St. Louis, Missouri          319289
28  Washington, District of Columbia          601767
29            Waterbury, Connecticut          110309