## Importing libraries and csv's

In [1]:
import pandas as pd
df_bat = pd.read_csv('baton_rouge_edited.csv')
df_san = pd.read_csv('san_francisco_edited.csv')
df_pat = pd.read_csv('paterson_edited.csv')
df_mil = pd.read_csv('milwaukee_edited.csv')
df_mem = pd.read_csv('memphis_edited.csv')
df_ind = pd.read_csv('indianapolis_edited.csv')
df_cle = pd.read_csv('cleveland_edited.csv')

## Droping columns and modifying csv's

In [2]:
df_bat.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
df_cle.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
df_ind.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name', 'year', 'incident_year' , 'incident_date'], inplace = True)
df_mem.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
df_mil.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'status', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)
df_pat.drop(columns = ['claim_number', 'defendant', 'lawsuit_status', 'defendant_attorney',
       'trial_date', 'plaintiff_attorney', 'plaintiff_name', 'incident_date',
       'date_received', 'filed_date', 'claim_status',
       'location', 'total_reimbursed', 'claim_or_lawsuit',
       'summary_allegations',  'incident_year', 'matter_name', 'docket_number', 'filed_year', 'court',
       'case_outcome', 'other_expenses', 'collection', 'total_incurred', 'total_paid', 'total_reserve'], inplace = True)
df_san.drop(columns = ['matter_name', 'court', 'docket_number', 'plaintiff_attorney',
       'filed_date', 'summary_allegations', 'case_outcome','filed_year', 'other_expenses', 'collection',
       'total_incurred', 'claim_number', 'location', 'plaintiff_name' , 'incident_year' , 'incident_date'], inplace = True)

## Creating a variable consisting of all cities

In [3]:
seven = (df_bat),(df_san),(df_mem),(df_cle),(df_pat),(df_mil),(df_ind)

## Concatenating data frames

In [4]:
seven_cities = pd.concat(seven)

In [5]:
seven_cities

     calendar_year          city state closed_date  amount_awarded
0           2019.0   Baton Rouge    LA  2019-07-08        45640.50
1           2019.0   Baton Rouge    LA  2019-08-14        30445.62
2           2019.0   Baton Rouge    LA  2019-02-27        52504.00
3           2018.0   Baton Rouge    LA  2018-12-11        20000.00
4           2018.0   Baton Rouge    LA  2018-07-16       107795.30
..             ...           ...   ...         ...             ...
232         2010.0  Indianapolis    IN  2010-09-24         7500.00
233         2010.0  Indianapolis    IN  2010-11-17         6500.00
234         2010.0  Indianapolis    IN  2010-11-17        18000.00
235         2010.0  Indianapolis    IN  2010-12-07         1000.00
236         2010.0  Indianapolis    IN  2010-12-16        70000.00

[875 rows x 5 columns]

## Converting data frame to csv

In [6]:
seven_cities.to_csv('seven_cities.csv', index = False)