In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(pd.read_excel('SUB-IP-EST2019-ANNRNK.xlsx')) # reading excel format data

In [3]:
df.columns=['id','Geographic_Area','Census','Estimates Base','2010',
                   '2011','2012','2013','2014','2015','2016','2017','2018','2019'] #setting columns
df.dropna(inplace=True) #dropping empty

In [12]:
df

,Geographic_Area,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
id,,,,,,,,,,,,,
1,"New York city, New York",8175133,8175031,8190209,8272948.0,8346693.0,8396091.0,8433806.0,8463049.0,8469153.0,8437478.0,8390081.0,8336817.0
2,"Los Angeles city, California",3792621,3793139,3795512,3820876.0,3851202.0,3881622.0,3909901.0,3938568.0,3963226.0,3975788.0,3977596.0,3979576.0
3,"Chicago city, Illinois",2695598,2695652,2697477,2708114.0,2719141.0,2725731.0,2727066.0,2724344.0,2716723.0,2711069.0,2701423.0,2693976.0
4,"Houston city, Texas",2099451,2095517,2100280,2126032.0,2161593.0,2199391.0,2241826.0,2286908.0,2309544.0,2316750.0,2318573.0,2320268.0
5,"Phoenix city, Arizona",1445632,1446691,1449038,1469796.0,1499274.0,1526491.0,1555445.0,1583690.0,1612199.0,1633560.0,1654675.0,1680992.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,"Lakewood city, Ohio",52131,52131,52026,51662.0,51400.0,51257.0,51088.0,50811.0,50528.0,50211.0,50012.0,49678.0
785,"Troy city, New York",50129,50162,50081,50020.0,49848.0,49921.0,49968.0,49776.0,49597.0,49433.0,49354.0,49154.0
786,"Saginaw city, Michigan",51508,51469,51363,51012.0,50728.0,50272.0,49798.0,49230.0,48902.0,48696.0,48310.0,48115.0
787,"Niagara Falls city, New York",50193,50031,49996,49760.0,49526.0,49328.0,49083.0,48769.0,48526.0,48249.0,48012.0,47720.0
788,"Charleston city, West Virginia",51400,51340,51274,50992.0,50858.0,50657.0,50133.0,49457.0,48789.0,48040.0,47172.0,46536.0

In [14]:
cities = ['New York city, New York', 'Los Angeles city, California', 'Chicago city, Illinois',
          'North Charleston city, South Carolina','Boston city, Massachusetts','Cambridge city, Massachusetts',
          'Charleston city, South Carolina','Fort Lauderdale city, Florida','Richmond city, Virginia',
          'Waterbury city, Connecticut','Springfield city, Massachusetts','St. Louis city, Missouri',
          'Paterson city, New Jersey','Cleveland city, Ohio','Memphis city, Tennessee','San Francisco city, California',
          'Milwaukee city, Wisconsin','Baton Rouge city, Louisiana','Cincinnati city, Ohio',
          'Columbia city, South Carolina','Miami city, Florida','Detroit city, Michigan','New Orleans city, Louisiana',
          'Washington city, District of Columbia','Baltimore city, Maryland','Orlando city, Florida'
          ]
rows = []
rows = []
for index,data in df.iterrows():              #iterrows function for indexing 
    city_name = data['Geographic_Area']           #getting index
    if city_name in cities:
        rows.append(index)

In [15]:
for col_name, data in df.items():
	print("col_name:",col_name, "\ndata:",data[1:25])    #iterating columns using items() function

col_name: Geographic_Area
data: id
2                          Los Angeles city, California
3                                Chicago city, Illinois
4                                   Houston city, Texas
5                                 Phoenix city, Arizona
6                       Philadelphia city, Pennsylvania
7                               San Antonio city, Texas
8                            San Diego city, California
9                                    Dallas city, Texas
10                            San Jose city, California
11                                   Austin city, Texas
12                           Jacksonville city, Florida
13                               Fort Worth city, Texas
14                                  Columbus city, Ohio
15                       Charlotte city, North Carolina
16                       San Francisco city, California
17                 Indianapolis city (balance), Indiana
18                             Seattle city, Washington
19                                Denver city, Colorado
20                Washington city, District of Columbia
21                           Boston city, Massachusetts
22                                  El Paso city, Texas
23    Nashville-Davidson metropolitan government (ba...
24                               Detroit city, Michigan
25                         Oklahoma City city, Oklahoma
Name: Geographic_Area, dtype: object
col_name: Census
data: id
2     3792621
3     2695598
4     2099451
5     1445632
6     1526006
7     1327407
8     1307402
9     1197816
10     945942
11     790390
12     821784
13     741206
14     787033
15     731424
16     805235
17     820445
18     608660
19     600158
20     601723
21     617594
22     649121
23     601222
24     713777
25     579999
Name: Census, dtype: object
col_name: Estimates Base
data: id
2     3793139
3     2695652
4     2095517
5     1446691
6     1526012
7     1326161
8     1301929
9     1197658
10     952528
11     801829
12     821750
13     744824
14     789018
15     735607
16     805184
17     820457
18     608661
19     599825
20     601767
21     617792
22     648245
23     603438
24     713898
25     580462
Name: Estimates Base, dtype: object
col_name: 2010
data: id
2     3795512
3     2697477
4     2100280
5     1449038
6     1528283
7     1332299
8     1305906
9     1200350
10     954940
11     806164
12     823114
13     748441
14     790943
15     738444
16     805505
17     821579
18     610630
19     603359
20     605226
21     621048
22     650671
23     604589
24     711131
25     582516
Name: 2010, dtype: object
col_name: 2011
data: id
2     3820876.0
3     2708114.0
4     2126032.0
5     1469796.0
6     1540466.0
7     1357120.0
8     1319592.0
9     1218282.0
10     970369.0
11     828459.0
12     829609.0
13     764142.0
14     800607.0
15     754829.0
16     815650.0
17     827664.0
18     622694.0
19     620530.0
20     619800.0
21     630505.0
22     664404.0
23     612518.0
24     705118.0
25     590947.0
Name: 2011, dtype: float64
col_name: 2012
data: id
2     3851202.0
3     2719141.0
4     2161593.0
5     1499274.0
6     1551824.0
7     1383075.0
8     1336776.0
9     1242115.0
10     983530.0
11     854482.0
12     837013.0
13     781046.0
14     812740.0
15     773264.0
16     828876.0
17     835499.0
18     635928.0
19     635163.0
20     634924.0
21     642955.0
22     674941.0
23     625550.0
24     700183.0
25     600971.0
Name: 2012, dtype: float64
col_name: 2013
data: id
2     3881622.0
3     2725731.0
4     2199391.0
5     1526491.0
6     1558313.0
7     1408339.0
8     1355320.0
9     1258835.0
10    1001279.0
11     875003.0
12     842735.0
13     796073.0
14     827797.0
15     792047.0
16     839572.0
17     844696.0
18     653588.0
19     649391.0
20     650581.0
21     653002.0
22     674808.0
23     635999.0
24     691868.0
25     612061.0
Name: 2013, dtype: float64
col_name: 2014
data: id
2     3909901.0
3     2727066.0
4     2241826.0
5     1555445.0
6     1565460.0
7     1435456.0
8     1375831.0
9     1279098.0
10    1014273.0
11     901170.0
12     852494.0
13     815057.0
14     841673.0
15     807400.0
16     850750.0
17     850164.0
18     670109.0
19     664582.0
20     662328.0
21     662855.0
22     677235.0
23     645259.0
24     682609.0
25     621639.0
Name: 2014, dtype: float64
col_name: 2015
data: id
2     3938568.0
3     2724344.0
4     2286908.0
5     1583690.0
6     1571065.0
7     1464043.0
8     1387323.0
9     1301329.0
10    1025980.0
11     921114.0
12     865836.0
13     835356.0
14     854950.0
15     825668.0
16     863010.0
17     853714.0
18     687386.0
19     683285.0
20     675400.0
21     670491.0
22     676242.0
23     655498.0
24     679410.0
25     632172.0
Name: 2015, dtype: float64
col_name: 2016
data: id
2     3963226.0
3     2716723.0
4     2309544.0
5     1612199.0
6     1576051.0
7     1487843.0
8     1402089.0
9     1323916.0
10    1030242.0
11     939447.0
12     880520.0
13     856177.0
14     866894.0
15     843117.0
16     871512.0
17     859049.0
18     709631.0
19     696159.0
20     685815.0
21     679848.0
22     679955.0
23     661765.0
24     677143.0
25     639924.0
Name: 2016, dtype: float64
col_name: 2017
data: id
2     3975788.0
3     2711069.0
4     2316750.0
5     1633560.0
6     1580601.0
7     1511154.0
8     1412621.0
9     1342479.0
10    1032335.0
11     951553.0
12     892025.0
13     874809.0
14     881694.0
15     860002.0
16     878040.0
17     863478.0
18     728661.0
19     704961.0
20     694906.0
21     687788.0
22     681343.0
23     663587.0
24     674631.0
25     642822.0
Name: 2017, dtype: float64
col_name: 2018
data: id
2     3977596.0
3     2701423.0
4     2318573.0
5     1654675.0
6     1583592.0
7     1530016.0
8     1421917.0
9     1341802.0
10    1028020.0
11     962469.0
12     902437.0
13     893216.0
14     890869.0
15     872514.0
16     880696.0
17     870960.0
18     742235.0
19     716265.0
20     701547.0
21     691147.0
22     679875.0
23     667006.0
24     672977.0
25     647912.0
Name: 2018, dtype: float64
col_name: 2019
data: id
2     3979576.0
3     2693976.0
4     2320268.0
5     1680992.0
6     1584064.0
7     1547253.0
8     1423851.0
9     1343573.0
10    1021795.0
11     978908.0
12     911507.0
13     909585.0
14     898553.0
15     885708.0
16     881549.0
17     876384.0
18     753675.0
19     727211.0
20     705749.0
21     692600.0
22     681728.0
23     670820.0
24     670031.0
25     655057.0
Name: 2019, dtype: float64

In [16]:
cities = ['New York city, New York', 'Los Angeles city, California', 'Chicago city, Illinois',
          'North Charleston city, South Carolina','Boston city, Massachusetts','Cambridge city, Massachusetts',
          'Charleston city, South Carolina','Fort Lauderdale city, Florida','Richmond city, Virginia',
         ]
rows = []

for index,data in df.iterrows():              #iterrows function for indexing 
    city_name = data['Geographic_Area']           #getting index
    if city_name in cities:
        rows.append(index)
rows

[1, 2, 3, 21, 97, 142, 200, 238, 252]

In [17]:
for row in df.itertuples():   #itertuples #check speed
    cities = []
    print(row[0],row[1]) ##index and first column

1 New York city, New York
2 Los Angeles city, California
3 Chicago city, Illinois
4 Houston city, Texas
5 Phoenix city, Arizona
6 Philadelphia city, Pennsylvania
7 San Antonio city, Texas
8 San Diego city, California
9 Dallas city, Texas
10 San Jose city, California
11 Austin city, Texas
12 Jacksonville city, Florida
13 Fort Worth city, Texas
14 Columbus city, Ohio
15 Charlotte city, North Carolina
16 San Francisco city, California
17 Indianapolis city (balance), Indiana
18 Seattle city, Washington
19 Denver city, Colorado
20 Washington city, District of Columbia
21 Boston city, Massachusetts
22 El Paso city, Texas
23 Nashville-Davidson metropolitan government (balance), Tennessee
24 Detroit city, Michigan
25 Oklahoma City city, Oklahoma
26 Portland city, Oregon
27 Las Vegas city, Nevada
28 Memphis city, Tennessee
29 Louisville/Jefferson County metro government (balance), Kentucky
30 Baltimore city, Maryland
31 Milwaukee city, Wisconsin
32 Albuquerque city, New Mexico
33 Tucson city, Arizona
34 Fresno city, California
35 Mesa city, Arizona
36 Sacramento city, California
37 Atlanta city, Georgia
38 Kansas City city, Missouri
39 Colorado Springs city, Colorado
40 Omaha city, Nebraska
41 Raleigh city, North Carolina
42 Miami city, Florida
43 Long Beach city, California
44 Virginia Beach city, Virginia
45 Oakland city, California
46 Minneapolis city, Minnesota
47 Tulsa city, Oklahoma
48 Tampa city, Florida
49 Arlington city, Texas
50 New Orleans city, Louisiana
51 Wichita city, Kansas
52 Bakersfield city, California
53 Cleveland city, Ohio
54 Aurora city, Colorado
55 Anaheim city, California
56 Urban Honolulu CDP, Hawaii
57 Santa Ana city, California
58 Riverside city, California
59 Corpus Christi city, Texas
60 Lexington-Fayette urban county, Kentucky
61 Henderson city, Nevada
62 Stockton city, California
63 St. Paul city, Minnesota
64 Cincinnati city, Ohio
65 St. Louis city, Missouri
66 Pittsburgh city, Pennsylvania
67 Greensboro city, North Carolina
68 Lincoln city, Nebraska
69 Anchorage municipality, Alaska
70 Plano city, Texas
71 Orlando city, Florida
72 Irvine city, California
73 Newark city, New Jersey
74 Durham city, North Carolina
75 Chula Vista city, California
76 Toledo city, Ohio
77 Fort Wayne city, Indiana
78 St. Petersburg city, Florida
79 Laredo city, Texas
80 Jersey City city, New Jersey
81 Chandler city, Arizona
82 Madison city, Wisconsin
83 Lubbock city, Texas
84 Scottsdale city, Arizona
85 Reno city, Nevada
86 Buffalo city, New York
87 Gilbert town, Arizona
88 Glendale city, Arizona
89 North Las Vegas city, Nevada
90 Winston-Salem city, North Carolina
91 Chesapeake city, Virginia
92 Norfolk city, Virginia
93 Fremont city, California
94 Garland city, Texas
95 Irving city, Texas
96 Hialeah city, Florida
97 Richmond city, Virginia
98 Boise City city, Idaho
99 Spokane city, Washington
100 Baton Rouge city, Louisiana
101 Tacoma city, Washington
102 San Bernardino city, California
103 Modesto city, California
104 Fontana city, California
105 Des Moines city, Iowa
106 Moreno Valley city, California
107 Santa Clarita city, California
108 Fayetteville city, North Carolina
109 Birmingham city, Alabama
110 Oxnard city, California
111 Rochester city, New York
112 Port St. Lucie city, Florida
113 Grand Rapids city, Michigan
114 Huntsville city, Alabama
115 Salt Lake City city, Utah
116 Frisco city, Texas
117 Yonkers city, New York
118 Amarillo city, Texas
119 Glendale city, California
120 Huntington Beach city, California
121 McKinney city, Texas
122 Montgomery city, Alabama
123 Augusta-Richmond County consolidated government (balance), Georgia
124 Aurora city, Illinois
125 Akron city, Ohio
126 Little Rock city, Arkansas
127 Tempe city, Arizona
128 Columbus city, Georgia
129 Overland Park city, Kansas
130 Grand Prairie city, Texas
131 Tallahassee city, Florida
132 Cape Coral city, Florida
133 Mobile city, Alabama
134 Knoxville city, Tennessee
135 Shreveport city, Louisiana
136 Worcester city, Massachusetts
137 Ontario city, California
138 Vancouver city, Washington
139 Sioux Falls city, South Dakota
140 Chattanooga city, Tennessee
141 Brownsville city, Texas
142 Fort Lauderdale city, Florida
143 Providence city, Rhode Island
144 Newport News city, Virginia
145 Rancho Cucamonga city, California
146 Santa Rosa city, California
147 Peoria city, Arizona
148 Oceanside city, California
149 Elk Grove city, California
150 Salem city, Oregon
151 Pembroke Pines city, Florida
152 Eugene city, Oregon
153 Garden Grove city, California
154 Cary town, North Carolina
155 Fort Collins city, Colorado
156 Corona city, California
157 Springfield city, Missouri
158 Jackson city, Mississippi
159 Alexandria city, Virginia
160 Hayward city, California
161 Clarksville city, Tennessee
162 Lakewood city, Colorado
163 Lancaster city, California
164 Salinas city, California
165 Palmdale city, California
166 Hollywood city, Florida
167 Springfield city, Massachusetts
168 Macon-Bibb County, Georgia
169 Kansas City city, Kansas
170 Sunnyvale city, California
171 Pomona city, California
172 Killeen city, Texas
173 Escondido city, California
174 Pasadena city, Texas
175 Naperville city, Illinois
176 Bellevue city, Washington
177 Joliet city, Illinois
178 Murfreesboro city, Tennessee
179 Midland city, Texas
180 Rockford city, Illinois
181 Paterson city, New Jersey
182 Savannah city, Georgia
183 Bridgeport city, Connecticut
184 Torrance city, California
185 McAllen city, Texas
186 Syracuse city, New York
187 Surprise city, Arizona
188 Denton city, Texas
189 Roseville city, California
190 Thornton city, Colorado
191 Miramar city, Florida
192 Pasadena city, California
193 Mesquite city, Texas
194 Olathe city, Kansas
195 Dayton city, Ohio
196 Carrollton city, Texas
197 Waco city, Texas
198 Orange city, California
199 Fullerton city, California
200 Charleston city, South Carolina
201 West Valley City city, Utah
202 Visalia city, California
203 Hampton city, Virginia
204 Gainesville city, Florida
205 Warren city, Michigan
206 Coral Springs city, Florida
207 Cedar Rapids city, Iowa
208 Round Rock city, Texas
209 Sterling Heights city, Michigan
210 Kent city, Washington
211 Columbia city, South Carolina
212 Santa Clara city, California
213 New Haven city, Connecticut
214 Stamford city, Connecticut
215 Concord city, California
216 Elizabeth city, New Jersey
217 Athens-Clarke County unified government (balance), Georgia
218 Thousand Oaks city, California
219 Lafayette city, Louisiana
220 Simi Valley city, California
221 Topeka city, Kansas
222 Norman city, Oklahoma
223 Fargo city, North Dakota
224 Wilmington city, North Carolina
225 Abilene city, Texas
226 Odessa city, Texas
227 Columbia city, Missouri
228 Pearland city, Texas
229 Victorville city, California
230 Hartford city, Connecticut
231 Vallejo city, California
232 Allentown city, Pennsylvania
233 Berkeley city, California
234 Richardson city, Texas
235 Arvada city, Colorado
236 Ann Arbor city, Michigan
237 Rochester city, Minnesota
238 Cambridge city, Massachusetts
239 Sugar Land city, Texas
240 Lansing city, Michigan
241 Evansville city, Indiana
242 College Station city, Texas
243 Fairfield city, California
244 Clearwater city, Florida
245 Beaumont city, Texas
246 Independence city, Missouri
247 Provo city, Utah
248 West Jordan city, Utah
249 Murrieta city, California
250 Palm Bay city, Florida
251 El Monte city, California
252 Carlsbad city, California
252 North Charleston city, South Carolina
254 Temecula city, California
255 Clovis city, California
256 Springfield city, Illinois
257 Meridian city, Idaho
258 Westminster city, Colorado
259 Costa Mesa city, California
260 High Point city, North Carolina
261 Manchester city, New Hampshire
262 Pueblo city, Colorado
263 Lakeland city, Florida
264 Pompano Beach city, Florida
265 West Palm Beach city, Florida
266 Antioch city, California
267 Everett city, Washington
268 Downey city, California
269 Lowell city, Massachusetts
270 Centennial city, Colorado
271 Elgin city, Illinois
272 Richmond city, California
273 Peoria city, Illinois
274 Broken Arrow city, Oklahoma
275 Miami Gardens city, Florida
276 Billings city, Montana
277 Jurupa Valley city, California
278 Sandy Springs city, Georgia
279 Gresham city, Oregon
280 Lewisville city, Texas
281 Hillsboro city, Oregon
282 San Buenaventura (Ventura) city, California
283 Greeley city, Colorado
284 Inglewood city, California
285 Waterbury city, Connecticut
286 League City city, Texas
287 Santa Maria city, California
288 Tyler city, Texas
289 Davie town, Florida
290 Daly City city, California
291 Boulder city, Colorado
292 Allen city, Texas
293 West Covina city, California
294 Sparks city, Nevada
295 Wichita Falls city, Texas
296 Green Bay city, Wisconsin
297 San Mateo city, California
298 Norwalk city, California
299 Rialto city, California
300 Las Cruces city, New Mexico
301 Chico city, California
302 El Cajon city, California
303 Burbank city, California
304 South Bend city, Indiana
305 Renton city, Washington
306 Vista city, California
307 Davenport city, Iowa
308 Edinburg city, Texas
309 Tuscaloosa city, Alabama
310 Carmel city, Indiana
311 Spokane Valley city, Washington
312 San Angelo city, Texas
313 Vacaville city, California
314 Bend city, Oregon
315 Kenosha city, Wisconsin
316 Boca Raton city, Florida
317 Lee's Summit city, Missouri
318 Nampa city, Idaho
319 Rio Rancho city, New Mexico
320 South Fulton city, Georgia
321 Roanoke city, Virginia
322 Beaverton city, Oregon
323 Yuma city, Arizona
324 Lawrence city, Kansas
325 Orem city, Utah
326 Longmont city, Colorado
327 San Marcos city, California
328 Albany city, New York
329 Sandy city, Utah
330 Concord city, North Carolina
331 Federal Way city, Washington
332 Hesperia city, California
333 Brockton city, Massachusetts
334 Compton city, California
335 Flint city, Michigan
336 Erie city, Pennsylvania
337 New Bedford city, Massachusetts
338 Fishers city, Indiana
339 Sunrise city, Florida
340 Roswell city, Georgia
341 Menifee city, California
342 Tracy city, California
343 Plantation city, Florida
344 Quincy city, Massachusetts
345 Portsmouth city, Virginia
346 Mission Viejo city, California
347 Chino city, California
348 Lynn city, Massachusetts
349 Edmond city, Oklahoma
350 Dearborn city, Michigan
351 Livonia city, Michigan
352 Yakima city, Washington
353 South Gate city, California
354 Greenville city, North Carolina
355 Lawton city, Oklahoma
356 Kirkland city, Washington
357 Asheville city, North Carolina
358 Deltona city, Florida
359 Redding city, California
360 Bellingham city, Washington
361 Suffolk city, Virginia
362 Indio city, California
363 Mount Pleasant town, South Carolina
364 Carson city, California
365 Santa Barbara city, California
366 Conroe city, Texas
367 Westminster city, California
368 Santa Monica city, California
369 New Braunfels city, Texas
370 Livermore city, California
371 Palm Coast city, Florida
372 St. George city, Utah
373 Fall River city, Massachusetts
374 Nashua city, New Hampshire
375 Champaign city, Illinois
376 Miami Beach city, Florida
377 Norwalk city, Connecticut
378 San Leandro city, California
379 O'Fallon city, Missouri
380 Newton city, Massachusetts
381 Reading city, Pennsylvania
382 Avondale city, Arizona
383 Fort Smith city, Arkansas
384 Citrus Heights city, California
385 Ogden city, Utah
386 Fayetteville city, Arkansas
387 Fort Myers city, Florida
388 Goodyear city, Arizona
389 Bryan city, Texas
390 Waukegan city, Illinois
391 Hawthorne city, California
392 Redwood City city, California
393 Hoover city, Alabama
394 Bloomington city, Indiana
395 Duluth city, Minnesota
396 Lake Forest city, California
397 Hemet city, California
398 Whittier city, California
399 Clifton city, New Jersey
400 Largo city, Florida
401 Bloomington city, Minnesota
402 Danbury city, Connecticut
403 Santa Fe city, New Mexico
404 Johns Creek city, Georgia
405 Newport Beach city, California
406 Kennewick city, Washington
407 Mission city, Texas
408 Milpitas city, California
409 Troy city, Michigan
410 Chino Hills city, California
411 Alhambra city, California
412 Merced city, California
413 Trenton city, New Jersey
414 Franklin city, Tennessee
415 Medford city, Oregon
416 Melbourne city, Florida
417 Manteca city, California
418 Mountain View city, California
419 Sioux City city, Iowa
420 Lynchburg city, Virginia
421 Buena Park city, California
422 Pleasanton city, California
423 Longview city, Texas
424 Westland city, Michigan
425 Auburn city, Washington
426 Cranston city, Rhode Island
427 Somerville city, Massachusetts
428 Folsom city, California
429 Springdale city, Arkansas
430 Deerfield Beach city, Florida
431 Warwick city, Rhode Island
432 Cicero town, Illinois
433 Farmington Hills city, Michigan
434 Brooklyn Park city, Minnesota
435 Lawrence city, Massachusetts
436 Plymouth city, Minnesota
437 Buckeye city, Arizona
438 Georgetown city, Texas
439 Cedar Park city, Texas
440 Tustin city, California
441 Lakewood city, California
442 Perris city, California
443 Flower Mound town, Texas
444 Pharr city, Texas
445 Loveland city, Colorado
446 Boynton Beach city, Florida
447 New Rochelle city, New York
448 Temple city, Texas
449 Lake Charles city, Louisiana
450 Jonesboro city, Arkansas
451 Napa city, California
452 Parma city, Ohio
453 Layton city, Utah
454 Alameda city, California
455 Warner Robins city, Georgia
456 Rapid City city, South Dakota
457 Bloomington city, Illinois
458 Gastonia city, North Carolina
459 Baytown city, Texas
460 Upland city, California
461 Racine city, Wisconsin
462 Scranton city, Pennsylvania
463 South Jordan city, Utah
464 Bellflower city, California
465 Kalamazoo city, Michigan
466 San Ramon city, California
467 Bethlehem city, Pennsylvania
468 Wyoming city, Michigan
469 Hammond city, Indiana
470 Missoula city, Montana
471 Missouri City city, Texas
472 Pasco city, Washington
473 Baldwin Park city, California
474 Iowa City city, Iowa
475 Rancho Cordova city, California
476 Rock Hill city, South Carolina
477 Flagstaff city, Arizona
478 Gary city, Indiana
479 St. Joseph city, Missouri
480 Arlington Heights village, Illinois
481 Bolingbrook village, Illinois
482 Rochester Hills city, Michigan
483 Framingham city, Massachusetts
484 Union City city, California
485 Appleton city, Wisconsin
486 Turlock city, California
487 Camden city, New Jersey
488 Bismarck city, North Dakota
489 Evanston city, Illinois
490 Apple Valley town, California
491 Schaumburg village, Illinois
492 Woodbury city, Minnesota
493 Kissimmee city, Florida
494 Southfield city, Michigan
495 Maple Grove city, Minnesota
496 Pittsburg city, California
497 New Britain city, Connecticut
498 Jacksonville city, North Carolina
499 Mansfield city, Texas
500 Waukesha city, Wisconsin
501 Frederick city, Maryland
502 Albany city, Georgia
503 Pawtucket city, Rhode Island
504 Redmond city, Washington
505 Lauderhill city, Florida
506 Lafayette city, Indiana
507 Gulfport city, Mississippi
508 Redlands city, California
509 Weston city, Florida
510 St. Charles city, Missouri
511 Decatur city, Illinois
512 North Port city, Florida
513 North Richland Hills city, Texas
514 Greenville city, South Carolina
515 Bowling Green city, Kentucky
516 Broomfield city, Colorado
517 Canton city, Ohio
518 Marysville city, Washington
519 Walnut Creek city, California
519 Wilmington city, Delaware
521 Camarillo city, California
522 Lynwood city, California
523 Lehi city, Utah
524 Passaic city, New Jersey
525 Homestead city, Florida
526 Delray Beach city, Florida
527 Davis city, California
528 Lake Elsinore city, California
529 Daytona Beach city, Florida
530 Dothan city, Alabama
531 Rocklin city, California
532 Eau Claire city, Wisconsin
533 Rogers city, Arkansas
534 Castle Rock town, Colorado
535 St. Cloud city, Minnesota
536 Bossier City city, Louisiana
537 Rockville city, Maryland
538 Muncie city, Indiana
539 Gaithersburg city, Maryland
540 Union City city, New Jersey
541 West Des Moines city, Iowa
542 South San Francisco city, California
543 Yorba Linda city, California
544 Conway city, Arkansas
545 Lodi city, California
546 Palatine village, Illinois
547 Ankeny city, Iowa
548 Mount Vernon city, New York
549 Rowlett city, Texas
550 Waterloo city, Iowa
551 Lakeville city, Minnesota
552 Alpharetta city, Georgia
553 Jackson city, Tennessee
554 Yuba City city, California
555 Oshkosh city, Wisconsin
556 Victoria city, Texas
557 Johnson City city, Tennessee
558 Redondo Beach city, California
559 Tamarac city, Florida
560 Laguna Niguel city, California
561 Eagan city, Minnesota
562 Kenner city, Louisiana
563 Auburn city, Alabama
564 Ames city, Iowa
565 Portland city, Maine
566 North Little Rock city, Arkansas
567 Sammamish city, Washington
568 Madera city, California
569 Shawnee city, Kansas
570 Jupiter town, Florida
571 Doral city, Florida
572 Blaine city, Minnesota
573 Tulare city, California
574 Youngstown city, Ohio
575 Wellington village, Florida
576 Pflugerville city, Texas
577 Palo Alto city, California
578 Schenectady city, New York
579 Harlingen city, Texas
580 Bayonne city, New Jersey
581 Eden Prairie city, Minnesota
582 Port Orange city, Florida
583 Dublin city, California
584 San Marcos city, Texas
585 Noblesville city, Indiana
586 Santa Cruz city, California
587 Janesville city, Wisconsin
588 San Clemente city, California
589 Brentwood city, California
590 East Orange city, New Jersey
591 Cheyenne city, Wyoming
592 Eastvale city, California
593 Chapel Hill town, North Carolina
594 Haverhill city, Massachusetts
595 Lorain city, Ohio
596 Grand Junction city, Colorado
597 Springfield city, Oregon
598 Coon Rapids city, Minnesota
599 Idaho Falls city, Idaho
600 North Miami city, Florida
601 Encinitas city, California
602 Skokie village, Illinois
603 Leander city, Texas
604 Waltham city, Massachusetts
605 Council Bluffs city, Iowa
606 Hamilton city, Ohio
607 Moore city, Oklahoma
608 Pico Rivera city, California
609 Montebello city, California
610 Millcreek city, Utah
611 Sanford city, Florida
612 National City city, California
613 Burnsville city, Minnesota
614 Coconut Creek city, Florida
615 Lakewood city, Washington
616 Taylor city, Michigan
617 Novi city, Michigan
618 Marietta city, Georgia
619 Ocala city, Florida
620 Terre Haute city, Indiana
621 Woodland city, California
622 Petaluma city, California
623 La Habra city, California
624 Malden city, Massachusetts
625 Commerce City city, Colorado
626 Owensboro city, Kentucky
627 Bristol city, Connecticut
628 West Allis city, Wisconsin
629 Taylorsville city, Utah
630 Utica city, New York
631 Monterey Park city, California
632 Bonita Springs city, Florida
633 Porterville city, California
634 Greenwood city, Indiana
635 Bartlett city, Tennessee
636 Bradenton city, Florida
636 Vineland city, New Jersey
638 Pontiac city, Michigan
639 Meriden city, Connecticut
640 Gardena city, California
641 Apex town, North Carolina
642 Royal Oak city, Michigan
643 Cupertino city, California
644 Lancaster city, Pennsylvania
645 La Mesa city, California
646 Gilroy city, California
647 St. Clair Shores city, Michigan
648 Des Plaines city, Illinois
649 Springfield city, Ohio
650 Corvallis city, Oregon
651 Margate city, Florida
652 Bowie city, Maryland
653 Casa Grande city, Arizona
654 Caldwell city, Idaho
655 San Rafael city, California
656 Great Falls city, Montana
657 Sarasota city, Florida
658 Richland city, Washington
659 St. Peters city, Missouri
660 Hendersonville city, Tennessee
661 White Plains city, New York
662 Huntersville town, North Carolina
663 Santee city, California
664 Kokomo city, Indiana
665 Arcadia city, California
666 Casper city, Wyoming
667 Dubuque city, Iowa
668 Orland Park village, Illinois
669 Weymouth Town city, Massachusetts
670 Parker town, Colorado
671 Palm Beach Gardens city, Florida
672 Hanford city, California
673 Huntington Park city, California
674 Taunton city, Massachusetts
675 Midwest City city, Oklahoma
676 Medford city, Massachusetts
677 Euless city, Texas
678 Shoreline city, Washington
679 Smyrna city, Georgia