In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
df = pd.read_csv('final2.csv')
df

    Unnamed: 0  calendar_year  amount_awarded           city
0            0           2010        161950.0         Boston
1            1           2011         45500.0         Boston
2            2           2012       1989000.0         Boston
3            3           2013       3491140.0         Boston
4            4           2014       5175000.0         Boston
5            5           2015        359892.0         Boston
6            6           2016        208000.0         Boston
7            7           2017         70000.0         Boston
8            8           2018        290000.0         Boston
9            9           2019        115000.0         Boston
10          10           2010          5500.0     Charleston
11          11           2011          4000.0     Charleston
12          12           2012         35500.0     Charleston
13          13           2013         84000.0     Charleston
14          14           2014        606000.0     Charleston
15          15           2015         23000.0     Charleston
16          16           2016        108250.0     Charleston
17          17           2017        262500.0     Charleston
18          18           2018        205000.0     Charleston
19          19           2019        186500.0     Charleston
20          20           2010      24462226.0        Chicago
21          21           2011      22790143.0        Chicago
22          22           2012      60487581.0        Chicago
23          23           2013      92607082.0        Chicago
24          24           2014      29669161.0        Chicago
25          25           2015      22509331.0        Chicago
26          26           2016      31296263.0        Chicago
27          27           2017      94623599.0        Chicago
28          28           2018      56950918.0        Chicago
29          29           2019      32190160.0        Chicago
30          30           2010        329500.0      Cleveland
31          31           2011        350454.0      Cleveland
32          32           2012        503830.0      Cleveland
33          33           2013        589405.0      Cleveland
34          34           2014       2734400.0      Cleveland
35          35           2015       3269500.0      Cleveland
36          36           2016       5240500.0      Cleveland
37          37           2017       7934438.0      Cleveland
38          38           2018       1330400.0      Cleveland
39          39           2019       6046547.0      Cleveland
40          40           2020        244500.0      Cleveland
41          41           2010      21684997.0    Los Angeles
42          42           2011      15636675.0    Los Angeles
43          43           2012      11664361.0    Los Angeles
44          44           2013       9144545.0    Los Angeles
45          45           2014      29451333.0    Los Angeles
46          46           2015      37260955.0    Los Angeles
47          47           2016      77619184.0    Los Angeles
48          48           2017      42919819.0    Los Angeles
49          49           2018      26335683.0    Los Angeles
50          50           2019      32116659.0    Los Angeles
51          51           2020      26091409.0    Los Angeles
52          52           2010        124500.0          Miami
53          53           2011        632431.0          Miami
54          54           2012        466750.0          Miami
55          55           2013        285768.0          Miami
56          56           2014        113385.0          Miami
57          57           2015        577550.0          Miami
58          58           2016       1970512.0          Miami
59          59           2017        381048.0          Miami
60          60           2018       1892198.0          Miami
61          61           2019        175642.0          Miami
62          62           2020        664900.0          Miami
63          63           2010     122401681.0  New York City
64          64           2011     102170476.0  New York City
65          65           2012     108879329.0  New York City
66          66           2013      96336250.0  New York City
67          67           2014     217729121.0  New York City
68          68           2015     185111028.0  New York City
69          69           2016     245809210.0  New York City
70          70           2017     278151116.0  New York City
71          71           2018     168402018.0  New York City
72          72           2019     179130258.0  New York City

In [ ]:
df2 = df.pop['column' = Unnamed: 0], inplace=True